body{
    background-image: url('../../img/bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.gradient-background {
    /* height: 100px; Sesuaikan tinggi elemen sesuai kebutuhan */
    background: linear-gradient(to bottom, #eeff00, #fffbe0);
    border-radius: 20px; /* Sesuaikan radius sudut */
    padding: 20px;
    backdrop-filter: blur(10px);
    z-index: 1;
}

.gradient-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px; /* Height of the gradient effect */
    background: linear-gradient(to bottom, #eeff00, rgba(238, 255, 0, 0.1));
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 1;
}

.kaca{
    background: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    /* padding: 20px; */
}

.btn-submit{
    background-color: #E4FF3C;
}

table {
    background: transparent !important;
}
th, td {
    text-align: left;
}
@media (max-width: 576px) {
    th, td {
        display: inline;
        text-align: left;
    }
    th {
        margin-top: 10px;
    }
    td {
        margin-bottom: 10px;
    }
}
